{% extends 'blog/base.html' %}

{% block content %}
<div class="centerstage">
    {% for post in post_list %}
        <div class="post">
          <div class="zoom">
            <div class="card bg-light mb-3">
              <div class="card-body">
                <h1 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <div class="date">
                  <p class="card-text text-muted h6">Published on: {{ post.published_date|date:"D M Y"}}</p>
                </div>
                <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
